#login_bttn{

    color:#000202;
    background-color: #ffffff;
    padding: 5px 15px;
    font-size: 15px;
    border: none;
    font-family: inherit;
    font-weight: 700;
    border-radius: 2px;
    margin-right: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  #dashboard_bttn{
  
    color: #000202;
    background-color: #ffffff;
    padding: 5px 15px;
    font-size: 15px;
    border: none;
    font-family: inherit;
    margin-left: 10px;
    float: right;
    font-weight: 700;
    border-radius: 2px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  #register_bttn{
  
    color: #ffffff;
    background-color: #0a47f6;
    padding: 5px 15px;
    font-size: 15px;
    border: none;
    font-family: inherit;
    font-weight: 700;
    border-radius: 2px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  #logout_bttn{
  
    color: #ffffff;
    background-color: #b23b3b;
    padding: 5px 15px;
    font-size: 15px;
    border: none;
    font-family: inherit;
    font-weight: 700;
    border-radius: 2px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  .bttn-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
  }